@import 'src/globalStyle/vars';
.bg {
	background: fixed url("img/bg.jpg") center center no-repeat;
	background-size: cover;
}
.main {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 110px 0 80px;
	color: $title;
	text-align: center;
	nav {
		position: absolute;
		top: 0;
		left: 0;
	}
}
.title { 
	margin-bottom: 20px;
	font: 40px $bold;
	text-shadow: $textShadow;
}
.desc {
	padding: 34px 0 8px;
	font: 24px $bold;
	text-shadow: $textShadow;
	p {
		margin-bottom: 18px;
	}
}
