@import "src/globalStyle/vars";

.item {
	display: block;
	width: 220px;
	height: 260px;
	margin: 30px 35px;
	padding: 36px 20px 25px;
	background-color: $title;
	border-radius: 8px;
	box-shadow: 5px 5px 15px rgba(#000, .25);
	color: $cont;
	text-align: right;
	&:hover {
		box-shadow: 0 0 3px rgba($cont, .25);
	}
	&:active {
		box-shadow: 0 0 3px rgba($cont, .25),
								inset 0 0 10px rgba($cont, .5);
	}
}

.img {
	text-align: center;
	margin-bottom: 14px;
	img {
		max-height: 115px;
	}
}

.name {
	margin-bottom: 14px;
	font-size: 14px;
	text-align: center;
}

.country {
	margin-bottom: 12px;
	font-size: 14px;
}

.price {
	font: 14px $bold;
}