@font-face {
	font-family: 'Merienda-Bold';
	src: url('./../fonts/Merienda-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Merienda-Regular';
	src: url('./../fonts/Merienda-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}