.best {
	padding: 90px 0 70px;
	background: url("img/bg.jpg") center center no-repeat;
	background-size: cover;
}

.items {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 20px;
}
