.bg {
	background-color: #96D3CC;
}
.main {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 110px 0 80px;
	text-align: center;
	nav {
		position: absolute;
		top: 0;
		left: 0;
	}
}