@import 'src/globalStyle/vars';

.nav  {
	display: flex;
	align-items: flex-end;
	padding: 30px 0;
	a {
		color: $title;
	}
	path {
		fill: $title;
	}
}

.nav.__black {
	a {
		color: $cont;
	}
	path {
		fill: $cont;
	}
	.item a {
		text-shadow: none;
	}
	.item a:before {
		background-color: $cont;
	}
}

.list {
	display: flex;
	align-items: flex-end;
	padding: 10px 0 0 35px;
}
.list .item:last-child {
	margin-right: 0;
}
.item {
	margin-right: 40px;
}
.item a {
	position: relative;
	font-size: 14px;
	text-shadow: $textShadow;
	&:before {
		content: "";
		position: absolute;
		top: 100%;
		left: 0;
		width: 0;
		height: 1px;
		background-color: $title;
		transition: all $time;
	}
	&:hover:before {
		width: 100%;
	}
}

.icon {
	position: absolute;
	bottom: 0;
	right: 100%;
	svg {
		width: 35px;
		height: 35px;
	}
}

/* BEGIN max-width: 500px */
@media only screen and (max-width: 500px) {

	.item {
		margin-right: 15px;
		font-size: 13px;
	}
  
}
/* END max-width: 500px */